@import url(./pages/Home/home.css);
@import url(./pages/Offer/offer.css);

:root {
  --primary-color: #2cb1ba;
  --secondary-color: #FFF;
  --thirty-color:#BBB;
  --fourty-color:#F5F6F7;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color:#000000;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width:1280px;
  margin: 0 auto;
}

button {
  width: 115px;
  border: none;
  padding: .5em 0.625em;
  border-radius:5px;
}
button:hover{
  cursor:pointer;
}

button.primary-btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

button.secondary-btn {

  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
div.__alert-info{
  text-align: center;
  width: 100%;
  margin:10px 25%;
  padding:20px;
}
header button {
  font-size: .75em;
}

header {
  padding: 20px 0;
  display: flex;

}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width:100%;
}

header .container article {
  display: flex;
}


header .container article.__searching-area {
  flex-direction: column;
  justify-content:space-between;
  flex-basis: 100%;
  gap:20px;

}

header .container article.__searching-area .__search,
header .container article.__searching-area .__filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position:relative
}

header .container article.__searching-area .__filter {
  gap: 20px;
}

header .container article.__searching-area .__search input {
  flex-basis: 100%;
  background-color:var(--fourty-color);
  padding-left:30px;
  height:30px;
  font-size:1.125em;
  border:none;
  border-radius:5px;
}
header .container article.__searching-area .__search input::placeholder {
  color:var(--thirty-color);

}
header .container article.__searching-area .__search i {
left:6px;
font-size:1.125em;
color:var(--thirty-color);
position: absolute;
}


header .container article.__searching-area .__filter > div {
  display: flex;
  align-items: center;
  font-size: .75em;

  justify-content: space-between;
}

header .container article.__searching-area .__filter .__by-trend {
  flex-grow: 1;
}

header .container article.__searching-area .__filter .__by-value {
  flex-grow: 3;
}

header .container article.__connexion-area {
  gap: 20px;
  flex-grow: 0;
}

header .container article img {
  width: 100px;
}



.__is-loading{
  width:100%;
  margin:50px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.__is-loading h2{
font-size: 2em;
font-weight: bold;
}

.__is-loading i{
  font-size:3em;
margin-bottom:40px;

}


/* CAROUSEL */

button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right, button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left{
  width: auto;
  min-height: auto;
  bottom: 25px;
  font-size: 0.5em;
  
  }

  .react-multi-carousel-item{
    display: flex;
  }